

.logo { 
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
 text-decoration: none;
}

span { color: #2E2F42; }



nav {


}




.nav-header {





}
.list-header {




}
.item-list-header { }


.item-list-header { }
    

